.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.mirror {
        transform: scaleX(-1);
    }
}

.route {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page {
    padding: 1em;
    margin: auto;

    @media (min-width: 40em) {
        max-width: 75vw;
    }

    @media (min-width: 120em) {
        max-width: 90em;
    }
}
